[submodule "extern/mlfinlab"]
	path = extern/mlfinlab
	url = https://github.com/quantopian/mlfinlab.git
[submodule "extern/ndd"]
	path = extern/ndd
	url = https://github.com/simomarsili/ndd.git
[submodule "extern/AlphaForge"]
	path = extern/AlphaForge
	url = https://github.com/DulyHao/AlphaForge.git
[submodule "extern/feature_engine"]
	path = extern/feature_engine
	url = https://github.com/feature-engine/feature_engine.git
